body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    gap: 10px;
    flex-wrap: wrap;
}

#wrapper {
    display: flex;
    flex: 1 1 auto;
    gap: 10px;
}

#wrapper main{
    flex: 1 1 80%;
}

#wrapper aside{
    flex-basis: 20%;
}

@media (max-width: 769px) {
    #wrapper{
        flex-direction: column;
    }
    #wrapper main, #wrapper aside{
        flex-basis: 100%;
    }
}

aside, main, header, footer {
    background: #EEEEEE;
    border-radius: 5px;
    padding: 20px;
    font-size: 125%;
}

footer {
    font-size: 100%;
}

aside {
    overflow-y: scroll;
    max-height: calc(74vh);
}

.dropbtn {
    background-color: #229DEE;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn a {
    color: white;
    text-decoration: none;
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #128DdE;
}
