
html {
    font-size: 16px;  /* default relative font size */
}
html, body, #main_left {
    overflow: scroll; /* force scroll bars on page */
}
#main_left_col {
    max-width: 50%;
}
/* show the dang dropdown menu on hover */
.dropdown:hover > .dropdown-menu {
    display: block;
}
/* fix the dang menu to go away */
.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}
/* hide the ugly decorations */
.btn, .btn:focus, .btn:active, input, input:focus, input:active, textarea, textarea:focus, textarea:active, .custom-file-input, .custom-file-input:focus, .custom-file-input:active, .form-control, .form-control:focus, .form-control:active {
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
}
/* play with responsive behaviour */
@media (max-width: 767.98px) {
    html {
        font-size: 12px;
    }
    #main_left_col {
        max-width: 100%;
    }
}